<header>
    <div class="top_nav">
      <div class="logo">
        <a href="/">pulse</a></div>

        <div class="dropdown">
          <button class="dropbtn" onclick="toggleDropdown(event)">Blogs</button>
          <div class="dropdown-content">
              <a href="#">All</a>
              <a href="#">Portraits</a>
              <a href="#">Couples</a>
              <a href="#">Fashion</a>
              <a href="#">Freestyle</a>
          </div>
        

      <div class="middle">
        <input type="text" placeholder="Search..." class="searchbar">
      </div></div>
      <div class="end"><a href="">Sign in/sign up</a></div>
    </div>
      </header>
      