<header>
  <div class="top_nav">
      <div class="logo">
          <a href="/">pulse</a>
      </div>

      <div class="dropdown">
        <button class="dropbtn">Blogs</button>
        <div class="dropdown-content">
            <% categories.forEach(category => { %>
                <a href="/<%= category.toLowerCase() %>"><%= category %></a>
            <% }); %>
        </div>
    </div>

      <div class="middle">
          <input type="text" placeholder="Search..." class="searchbar">
      </div>
      <div class="end">
          <a href="/signin">Sign in/sign up</a>
      </div>
  </div>
</header>
