<%- include('includes/head', { 
    pageTitle: 'Error Page', 
    pageStyle: 'style.css' 
  }) %>
  
  <main>
      <h1>Error</h1>
      <p><%= error %></p>
      <a href="/">Back to Home</a>
  </main>